%section#about
  .wrapper.main
    .content.indent
      %h2 About

      %p
        Hound.cc was created by
        = link_to 'Siyelo', "http://www.siyelo.com", target: '_blank'
        , a web development consultancy based in beautiful Cape Town, South Africa.

      %p We wanted a better way to manage our email, and our calendar reminders. Everybody uses email; for many it is second nature. On the other hand, creating calendar events can be cumbersome, which is a problem since our calendars are often only useful to the extent we get a reminder when something needs our attention.

      %p What's more, the things that we usually need to act on, are (or come in the form of), emails!

      %p So we created Hound.cc which lets you create email reminders, quickly. As fast as you can send or forward an email to Hound, you've just set a reminder.

      %p It really has revolutionized the way we manage important tasks and follow-ups, all the while reducing inbox clutter.

      %p We hope you enjoy using Hound.cc just as much as we do!


    .sidebar.styled
      = image_tag"logo-siyelo.png"
      %p
        Find out more about the folks at
        = link_to 'Siyelo', 'http://siyelo.com/', target: '_blank'

