%h1 Hound.cc is free during our Public Beta

%p As a thank you to all our great Beta testers, we're making Hound.cc free during beta testing.

%p We're making Hound.cc the most user-friendly and awesome email reminder service out there - and we couldn't do it without your excellent feedback (so thank you!).

%p Once the Beta ends, we'll let you know about our premium features and pricing (in addition to our Basic Plan, which will be free forever!).

