- content_for :title do
  "Terms of Use (to keep our lawyers happy)"

%section#terms
  .wrapper.main


    %h2 Terms of Use
    %p These Terms of Service govern your use of Hound.cc’s site (the “Site”) and service (the “Service”), any information, text, graphics, or other materials created and/or provided by Hound.cc and appearing on the Site or Service (the “Content”), Files (as defined below) and any services and/or software provided through the Site or Service. These Terms of Service limit Hound.cc’s liability and obligations to you, grant Hound.cc’s certain rights and allow Hound.cc to change, suspend or terminate your access to and use of the Site, Content, Files and Service. Your access to and use of the Site, Content, Files and/or Service are expressly conditioned on your compliance with these Terms of Service. By accessing or using the Site, Content, Files and/or Services you agree to be bound by these Terms of Service.
    %p YOU UNDERSTAND THAT BY USING THE SITE, CONTENT, FILES AND/OR SERVICES YOU ARE AGREEING TO BE BOUND BY THESE TERMS OF SERVICE. IF YOU DO NOT ACCEPT THESE TERMS OF SERVICE IN THEIR ENTIRETY, YOU MAY NOT ACCESS OR USE THE SITE, CONTENT, FILES OR SERVICES. IF YOU AGREE TO THESE TERMS OF SERVICE ON BEHALF OF A BUSINESS, YOU REPRESENT AND WARRANT THAT YOU HAVE THE AUTHORITY TO BIND THAT BUSINESS TO THESE TERMS OF SERVICE AND YOUR AGREEMENT TO THESE TERMS WILL BE TREATED AS THE AGREEMENT OF THE BUSINESS. IN THAT EVENT, “YOU ” AND “YOUR” WILL REFER AND APPLY TO THAT BUSINESS.
    %p
      Types of Accounts
      %br/
      Currently, Hound.cc is in private Beta, but will offer premium services once moving out of Beta. Hound.cc reserves the right to change the terms of the Service following the Beta period to reflect new pricing structures, limited use policies, and advanced features. Please read this document in its entirety regarding account restrictions. Hound.cc reserves the right, at any time, to change fees for access to and use of the Site, Content, Files and/or Services.
    %p Hound.cc is a email reminder service where the user understands and agrees that the service is provided under the following conditions:
    %ul
      %li
        Hound.cc claims no responsibility for the availability or timeliness of our service, as Hound.cc can be taken offline for
        %br/
        periods of time for maintenance. Your emails will be sent to you when Hound.cc comes back online, but will not be stored for longer than 30 days and cannot be directly accessed by anyone at Hound.cc or third parties, even in cases of emergency.
      %li Hound.cc reserves the right to modify, suspend, or discontinue our service at any time, but will notify all active users (those who have Hound.ccs in their queue). Hound.cc disclaims all liability in the event of modification, suspension, or discontinuation of our service.
      %li Hound.cc reserves the right to refuse service to anyone at any time without notice for any reason.
    %p Hound.cc users are expected to use our service under the following conditions:
    %ul
      %li Hound.cc is intended for personal use only. Enterprise licensing will be available in the near future.
      %li
        Due to the Children’s Online Privacy Protection Act of 1998 (
        %a{:href => "http://www.ftc.gov/ogc/coppa1.htm"}> http://www.ftc.gov/ogc/coppa1.htm
        ), you must be at least thirteen
        %br/
        (13) years of age to use this Service.
      %li The user agrees that you will use the Service in compliance with all applicable local, state, national, and international laws, rules and regulations, including any laws regarding the transmission of technical data exported from your country of residence.
      %li The user agrees that they are responsible for their own communications.
    %p The user will not use the Service or enable any third party to use the Service in the following manners:
    %ul
      %li Transmit any text, graphics, or material that: (i) is false or misleading; (ii) is defamatory; (iii) invades another’s privacy; (iv) is obscene, pornographic, or offensive; (v) promotes bigotry, racism, hatred or harm against any individual or group; (vi) infringes another’s rights, including any intellectual property rights; or (vii) violates, or encourages any conduct that would violate, any applicable law or regulation or would give rise to civil liability;
      %li Attempt to probe, scan, or test the vulnerability of any system or network or breach any security or authentication measures;
      %li Send unsolicited email, junk mail, “spam,” or chain letters, or promotions or advertisements for products or services;
      %li Attempt to decipher, decompile, disassemble or reverse engineer any of the software used to provide the Site, Content, Files or Services;
      %li Interfere with, or attempt to interfere with, the access of any user, host or network, including, without limitation, sending a virus, overloading, flooding, spamming, or mail-bombing the Site or Service;
    %p
      Hound.cc reserves the right to investigate and prosecute violations of any of the above, including intellectual property rights infringement and Site security issues, to the fullest extent of the law. Hound.cc may involve and cooperate with law enforcement authorities in prosecuting users who violate these Terms of Service. You acknowledge that Hound.cc has no obligation to monitor any user’s access to or use of the Site, Content, Files and Services, but has the right to do so for the
      purpose of operating the Site and the Services, to ensure users’ compliance with these Terms of Service, or to comply with applicable law or the order or requirement of a court, administrative agency or other governmental body.
    %p
      Termination
      %br/
      If you violate any of these Terms of Service, your permission to use the Site, Content, Files and Services will automatically terminate. Hound.cc reserves the right to revoke your access to and use of the Site, Content, Files and Services at any time, with or without cause, and with or without notice. Hound.cc also reserves the right to cease providing or to change the Site, Content, Files or Services at any time and without notice.
    %p Hound.cc reserves the right to terminate Free Accounts at any time, with or without notice. Without limiting the generality of the foregoing, and without further notice, Hound.cc may choose to delete and/or reduce your access to the Service at any time without notice.
    %p
      Use of the Service at Your Own Risk
      %br/
      Your access to and use of the Site, Content, Files and Services and is at your own risk. Hound.cc will have no responsibility for any harm to your computer system, loss or corruption of data, or other harm that results from your access to or use of the Site, Content, Files or Services.
    %p
      Hound.cc is Available “AS-IS”
      %br/
      THE SITE, CONTENT, FILES AND SERVICES ARE PROVIDED “AS IS”, WITHOUT WARRANTY OR CONDITION OF ANY KIND, EITHER EXPRESS OR IMPLIED. YOU ACKNOWLEDGE THAT USE OF THE SERVICE MAY RESULT IN UNEXPECTED RESULTS, LOSS OR CORRUPTION OF DATA OR COMMUNICATIONS, PROJECT DELAYS, OTHER UNPREDICTABLE DAMAGE OR LOSS, OR EXPOSURE OF YOUR DATA OR YOUR FILES TO UNINTENDED THIRD PARTIES.
    %p HOUND.CC MAKES NO WARRANTY THAT THE SERVICE WILL MEET YOUR REQUIREMENTS OR BE AVAILABLE ON AN UNINTERRUPTED, SECURE, OR ERROR-FREE BASIS. HOUND.CC MAKES NO WARRANTY REGARDING THE QUALITY OF ANY PRODUCTS, SERVICES, OR INFORMATION PURCHASED OR OBTAINED THROUGH THE SITE, CONTENT, OR SERVICES, OR THE ACCURACY, TIMELINESS, TRUTHFULNESS, COMPLETENESS OR RELIABILITY OF ANY INFORMATION OBTAINED THROUGH THE SITE, CONTENT, FILES OR SERVICES.
    %p NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED FROM HOUND.CC OR THROUGH THE SITE, CONTENT, FILES OR SERVICES, WILL CREATE ANY WARRANTY NOT EXPRESSLY MADE HEREIN.
