.change_password
  %strong Change Password
  %div
    = f.label :password, 'New password'
    %i (leave blank if you don't want to change it)
    %br
    = f.password_field :password
  %div
    = f.label :current_password
    %i (we need your current password to confirm your changes)
    %br
    = f.password_field :current_password

