%tr
  %td{:colspan=>"2"}
    %hr{:style => "background:none;border:none;border-top:2px dotted #ddd;"}
%tr
  %td{:colspan=>"2", :style => "padding-bottom: 40px;"}
    - unless body.empty?
      = body
    - else
      %div The message body is empty.