%tr
  %td{:colspan=>"2"}

    %table
      %tbody
        %tr
          %td{:width=>"4%", :style=>"vertical-align:top;"}
            %span{:style=>"font-size:50px;color:#f1decb;font-family:georgia,arial, sans-serif;line-height:1;font-style:italic;"} "
          %td{:width=>"96%", :style => "padding: 20px 20px 20px 7px; color: rgb(88, 42, 0); font-family: Georgia New Roman; font-size: 13px;"}
            - unless body.empty?

              = body
            - else
              %div The message body is empty.
