%div{:style => "width:230px;background-color:#ffffcc;border:1px solid #cacaca;padding:5px"}
  %table{:border => "0", :cellpadding => "4", :cellspacing => "0", :width => "230"}
    %tbody
      %tr
        %td{:colspan => "2", :style => "text-align:left"}
          %b Created by:
          = @reminder.email
      %tr
        %td{:colspan => "2", :style => "text-align:left"}
          %b Created at:
          = @reminder.created_at
      %tr
        %td{:colspan => "2", :style => "text-align:left"}
          You are receiving this email because you were listed as a recipient on the original email that was sent to memento.cc.
      %tr
        %td{:colspan => "2", :style => "text-align:left"}
          Visit www.memento.cc to learn more about this service
