%tr
  %td
    %h1 We've set your reminder!

%tr
  %td
    %ul
      %li= link_to "Upcoming", reminders_url
      %li= link_to "Settings", settings_url

= render 'send_at'

%tr
  %td
    %p
      Don't need a confirmation every time you schedule a reminder?
      = link_to "Turn off confirmation emails", @disable_confirmations_url
