%h1 We've set your reminder!
You'll get it on:
%strong=@reminder.formatted_reminder_time
%p= link_to "Edit/Delete this reminder", edit_reminder_url(@reminder)
%p= link_to "Turn off confirmation emails", edit_notification_url(@reminder.user.id, token: @reminder.user.modify_token)
