= render 'user_mailer/hr'
%tr
  %td{:style=>"text-align: left;"}
    %p{:style => "color:#999;font-style:italic;margin:3px 0 20px;font-size:11px"}
      © 2012 
      = link_to "Siyelo Software", "http://siyelo.com/", :style => "color: #{@link_color}; font-size:11px;"
      
  %td{:style=>"text-align: right;"}
    %p{:style => "color:#999;font-style:italic;margin:3px 0 20px;font-size:11px"}
      All rights reserved.
