%tr
  %td{:style=>"background: url(http://www.hound.cc/assets/bg-brown.png) #331A03; padding: 20px;"}
    = link_to "http://hound.cc/", :target => "_blank", :style => "outline:none;color:#fff;text-decoration:none;font-size:18px;font-weight:bold;" do
      = image_tag"http://www.hound.cc/assets/logo.png", :alt => "Hound.cc logo", :title => "Hound.cc - Turn Your Emails Into Reminders"