%h1 Welcome to Hound.cc!

= render 'send_at'

%p
  Since this is the first time we've seen you on Hound, please verify your
  email address by opening the link below:

%p=link_to "Yes it's me! Activate my account!", @accept_user_invitation_url

