%tr
  %td
    %h1{:style => "margin:40px 0 0;"} Welcome to Hound.cc!

= render 'send_at'

%tr
  %td
    %hr{:style => "background:none;border:none;border-top:2px dotted #ddd;"}

%tr
  %td
    %p{:style => "line-height:1.4;"}
      Since this is the first time we've seen you on Hound,
      %br
      please verify your email address by opening the link below:

%tr
  %td
    %p=link_to "Yes it's me! Activate my account!", @activate_url, :style => "display: block;text-align:center;padding:10px;margin:10 0 20px;background:#EEE;border:1px solid #DDD;color:#E88300;font-weight:bold;font-size:14px;text-decoration:none;"

