!!!
%html
  %head
    %meta{ 'content' => "text/html; charset=UTF-8", 'http-equiv' => "Content-Type" }
  %body{:style => "font-size:12px;font-family:Helvetica,Arial,sans-serif"}
    %table{:style => "600px"}
      %tr
        %td{:colspan => "2"}
          %strong Here is your reminder
          %hr
      %tr
        %td{:style => "width:50%"}
          %h2 Subject:
          %p{:style => "font-size:16px"}#{@reminder.subject}
          %h2 Date Sent:
          %p{:style => "font-size:16px"}#{@reminder.created_at.strftime('%d-%b-%Y')}
        %td{:style => "width:50%"}
          = render 'snooze_box'
      %tr
        %td{:colspan => "2"}
          %hr
          = @reminder.body.html_safe
