!!!
%html
  %head
    %meta{ 'content' => "text/html; charset=UTF-8", 'http-equiv' => "Content-Type" }
  %body{:style => "font-size:12px;font-family:Helvetica,Arial,sans-serif"}
    %table{:style => "600px"}
      %tr
        %td{:colspan => "2"}
          %strong Sup yo! You fail at using our system :(
