<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Sup yo, HERE IS YOUR REMINDER</h1>
    <p>
      <%= @email.body.to_s %>
    </p>
  </body>
</html>
