%h2
  Your Reminders

=render 'sidebar'

.content_right
  .reminder_container
    .inline_reminder
  .reminder_list
    %table{class: 'modern'}
      %tr
        =render 'title'
        %th.large Reminder Date
        %th.small Mark as complete?

    - @groups.each_pair do |key, values|
      - if values.count > 0
        = key.to_s.titleize
        %table{class: 'modern'}
          %tr
          - values.each do |r|
            = render r
  .status
