%h1 Confirmation emails are now off!

%p We have updated your settings - you will no longer receive confirmation emails.

%p
  If you wish to undo this, or update any of your other preferences, please visit
  = link_to "Settings", settings_path

%p Thank you for using Hound.cc!
