#devise
  background: #fff
  margin: 50px auto 10px
  padding: 40px 40px 20px
  width: 266px
  +border-radius(3px)
  +box-shadow(rgba(0, 0, 0, 0.1) 0 0 5px)

#devise, #settings
  form
    padding-bottom: 20px

  h2
    margin-bottom: 20px
  label
    color: rgba(0, 0, 0, 0.5)
    font: 14px Amaranth
  input[type=email], input[type=password], input[type=text]
    border: 1px solid rgba(0, 0, 0, 0.4)
    font-size: 16px
    margin-bottom: 10px
    padding: 5px 10px
    width: 246px
    +box-shadow(rgba(0, 0, 0, 0.1) 1px 1px 3px inset)
    &:hover, &:focus, &:active
      border-color: $one
  input[type=submit]
    margin-top: 20px
  .box
    background: #fff
    margin: 0 0 15px
    padding: 20px 40px 10px
    +border-radius(3px)
    +box-shadow(rgba(0, 0, 0, 0.1) 0 0 5px)
    ul
      margin: 0

  select#user_timezone
    width: 266px
    
  .error
    color: $red
    font: 14px Amaranth

#links
  padding-bottom: 30px
  text-align: center

.table-wrap
  margin: 0 0 20px
  +border-radius(3px)

  &.heading
    background: url(image_path('bg-light.png'))
    padding: 9px 15px
    +box-shadow(rgba(0, 0, 0, 0.1) 0 0 5px inset)
    th
      color: rgba(0, 0, 0, 0.4)
      font: 14px Amaranth
      +text-shadow(rgba(255, 255, 255, 0.5) 0 1px 1px)
      &:first-child
        color: $three
      img
        margin-bottom: -4px
        margin-right: 3px
  &.list
    margin-top: 10px
    +box-shadow(rgba(0, 0, 0, 0.07) 0 0 5px)
    td
      background: #fff
      border-bottom: 1px solid #e9e9e9
      color: #666
      padding: 8px 15px
      &:first-child
        color: $three
        font-weight: bold
      &.reminder_container
        background: $two + #777
        
    tr
      &:last-child td
        border: none
      &:hover, &:focus
        td
          background: $two + #777
      &.reminder.active td
        background: $two + #777
        border-style: dotted
    input[type=checkbox]
      float: right

.inline_reminder form
  //background: #fff
  //margin: 0 0 15px
  //padding: 30px 15px 20px
  position: relative
  //+border-radius(3px)
  //+box-shadow(rgba(0, 0, 0, 0.1) 0 0 5px)
  label
    color: rgba(0, 0, 0, 0.5)
    display: block
    font: 14px Amaranth
  .mceEditor
    position: absolute
    right: 30px
    top: 30px
    table
      width: 60%

.reminder_list
  h3
    color: $one
    +text-shadow(rgba(255, 255, 255, 0.5) 0 1px 1px)


.modern
  font-size: 12px
  width: 100%
  .large
    width: 45%
  .small
    width: 10%

#settings
  label
    display: block

.schedule
  background: #fff
  color: #888
  font-size: 12px
  padding: 20px 15px
  +box-shadow(rgba(0, 0, 0, 0.07) 0 0 5px)
  li, span
    color: #888
  h3
    margin-bottom: 15px
  a
    font: 14px Amaranth
  hr
    border: none
    border-top: 2px dotted #e6e6e6