#devise
  background: #fff
  margin: 50px auto 10px
  padding: 40px 40px 20px
  width: 266px
  +border-radius(3px)
  +box-shadow(rgba(0, 0, 0, 0.1) 0 0 5px)
  
#devise, #settings
  form
    padding-bottom: 20px
  
  h2
    margin-bottom: 20px
  label
    color: rgba(0, 0, 0, 0.5)
    font: 14px Amaranth
  input[type=email], input[type=password], input[type=text]
    border: 1px solid rgba(0, 0, 0, 0.4)
    font-size: 16px
    margin-bottom: 10px
    padding: 5px 10px
    width: 246px
    +box-shadow(rgba(0, 0, 0, 0.1) 1px 1px 3px inset)
    &:hover, &:focus, &:active
      border-color: $one
  input[type=submit]
    margin-top: 20px
  .box
    background: #fff
    margin: 0 0 15px
    padding: 20px 40px 10px
    +border-radius(3px)
    +box-shadow(rgba(0, 0, 0, 0.1) 0 0 5px)
    ul
      margin: 0
#links
  padding-bottom: 30px
  text-align: center
  

    
.table-wrap
  padding: 20px
    
.modern
  font-size: 12px
  width: 100%
  .large
    width: 45%
  .small
    width: 10%
  
#settings
  label
    display: block