.wrapper
  margin: 0 auto
  max-width: 1000px
  position: relative
  width: 80%
  +pie-clearfix

.fourth
  display: inline
  float: left
  width: 25%

.horizontal
  +pie-clearfix
  li
    display: inline
    float: left
    padding-right: 15px

#container
  height: auto !important
  margin: 0 auto -142px
  min-height: 100%

.push, #footer
  height: 142px

.hidden
  display: none
