#devise.wide
  %h2 Hmm, it looks like you've already turned confirmations off

  %p
    This usually happens if you already clicked the 'turn off confirmations' link, in which case - you're all set.

  %br
  %p
    Remember, if you wish to update any of your preferences, please visit
    = link_to "Settings", settings_path

  %br
  %p Thank you for using Hound.cc!
  %br
