#devise.wide
  %h2 Confirmation emails are now off

  %p We have updated your settings - you will no longer receive confirmation emails.

  %br
  %p== If you wish to undo this, or update any of your other preferences, please visit #{link_to "Settings", settings_path}.

  %br
  %p Thank you for using Hound.cc!
  %br
