.flash{
  background-repeat: repeat-x;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #57A957 #57A957 #3D773D;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: white;
  padding: 10px 15px;
}

#flash_notice{
  background-color: #57A957;
}

#flash_alert{
  background-color: #C43C35;
}

