.modern{
  width: 95%;
  border-collapse: collapse;
  text-align: left;
  margin: 20px;

  td {
    border-bottom: 1px solid #CCC;
    color: #669;
    padding: 6px 8px;
  }

  th{
    padding: 0px 0px 8px;
  }

  .completed_row td{
    text-decoration: line-through;
  }

  .large{
      width: 45%
    }

  .small{
      width: 10%
    }

}
